body {
  font-family: "Mulish", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: none !important;

  &__character {
    width: 455px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    border: 5px solid;
    outline: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 15px;
  }

  &-body {
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    &:hover {
      color: rgb(255, 152, 0);
    }
  }

  &-title {
    font-size: 1.5rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 20px;
    padding: 17px;
  }
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.status-color {
  padding: 5px;
}

.danger {
  background-color: #dc3545;
}
.success {
  background-color: #198754;
}
.secondary {
  background-color: #6c757d;
}

.bg-styles {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 35%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 15px 0 15px 0px;
}

.name__styles {
  font-weight: 600;
  font-size: 30px;
  color: #ffffffd2;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.row > * {
  width: 503px !important;
}

.profile__img {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 100%;
}
